*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}

html{
    scroll-behavior: smooth;
    
}

body{
    background: linear-gradient(180deg, rgba(236, 237, 253, 0) 0%, rgba(236, 240, 253, 0.265) 14.32%, rgba(236, 240, 253, 0.5) 45.83%, rgba(236, 240, 253, 0.215) 84.33%, rgba(236, 240, 253, 0) 100%);}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Raleway:wght@300;600&family=Roboto:ital,wght@0,300;0,700;1,500&display=swap');
@import "header";
@import "main-inicio";
@import "main-sobreNosotros";
@import "main-contamos-con";
@import "main-contactanos";
@import "footer";


main{
    
   .main-container{
       
       margin: auto;
       max-width: 450px;
       

          h2{
           color: #3E6FB7;
       }
       
       
   }

   
}

@import "responsive-compu";


@media screen and (min-width:451px) and (max-width:1100px){

    header{
         
        .header-container{
            max-width: 900px;
            display: flex;
            
            .header-container__logo{
                margin: auto 0;
                width: 30%;
                img{
                    width: 100%;
                }
                .header-container__menu-responsive{display: none;}
            }

            .header-container__link{
                width: 100%;
                height: 100%;

                ul{
                    display: flex;
                    margin-top: .5rem;
                    
                    li{
                        border:none;
                        margin: auto;
                    }
                }
                
            }
            
        }
    }

    main{
        .main-container{
            max-width: 900px;
            
            .main-container__contacto{
                .main-container__contacto__form{
                    margin-top: 2rem;
                }
            }

            .main-container__sobre-nosotros{
                display: grid;
                grid-template-areas: "texto imagen";
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                height: 35vh;
                margin: 4rem 4rem;
                .main-container__sobre-nosotros__texto{grid-area: texto;}

                .main-container__sobre-nosotros__img{
                    padding: 0;
                    grid-area: imagen;
                    img{
                        width: 80%;
                        left: 1rem;
                        top: 8rem;
                        
                    }
                }

            }

            .main-container__contamos-con{
                .main-container__contamos-con__texto{
                    margin-bottom: 1rem;
                    padding-left: 3rem;
                    h2{
                        font-size: 30px;
                    }
                    li{
                        font-size: 20px;
                    }
                }
               
            }
        }
    }
    footer{
        .main-container__footer{
            max-width: 900px;
        }
    }
   
}

.animacion{
    transition: all .5s ease-in-out;
    opacity: 0;
}



.animacionArriba{
    animation: mostrar-arriba 1.5s;
}

.animacionDerecha{
    animation: mostrar-derecha 1s;
}

.animacionIzquierda{
    animation: mostrar-izquierda 1s;
}

@keyframes mostrar-derecha {
    0%{
        transform: translateX(60px);
    }


    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes mostrar-izquierda {
    0%{
        transform: translateX(-30px);
    }


    100%{
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes mostrar-arriba {
    0%{
        transform: translateY(80px);
    }

    50%{
        opacity: .3;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
/*********************************/
@keyframes mostrar-derecha-mayor {
    0%{
        transform: translateX(100px);
    }


    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes mostrar-izquierda-mayor {
    0%{
        transform: translateX(-100px);
    }


    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.animacionDerechaMayor{
    animation: mostrar-derecha-mayor 1.5s;
}
.animacionIzquierdaMayor{
    animation: mostrar-izquierda-mayor 1.5s;
}